body{
    margin: 0;
    display: grid;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 11vh 81vh 8vh;
    gap: 0;
   
}
 
.header{
    grid-area:header;
    background-color: #436342;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
 
}
 
.aside{
    grid-area: aside;
    background-color: #9f6c3a;
}
 
.main{
    grid-area: main;
}

.home{
    background-image: url("resources/jardineiro2.jpg");
    background-size: cover; /*Faz a imagem cobrir todo o elemento*/
    background-repeat: no-repeat; /*Impede a repetição da imagem*/
    background-position: center; /*Deixa a imagem centralizada*/
    background-attachment: fixed; /*Faz o fundo ficar fixo durante o scroll*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
 
.footer{
    grid-area: footer;
    background-color:#436342;
}
.header img{
    width: 4vw;
    margin-left: 3vw;
    margin-right: 2vw;
}
 
.header span{
    font-size: 5vh;
    color: #fff;
}
 
.menu-vertical{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #9f6c3a;
 
}
 
.menu-vertical li a{
    color: #f7edd9;
    text-decoration: none;
    display: block;
    font-size: 18px;
    height: 2vh;
    padding: 3vh;
    border-bottom: 1px solid #5e3d1d;
 
}
 
.menu-vertical img{
    width: 1vw;
    margin-right: 1vw;
 
}
 
.menu-vertical li a:hover{
    background-color: #744110;
    cursor: pointer;
}
 
#item_atual{
    background-color: #744110;
}
 
.main img{
    width: 13vw;
}
 
.main h1{
    color: #f7edd9;
    font-size: 40px ;
}
 
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.footer span{
    color: #f7edd9;
    font-size: 30px;
}

.central{
    background-color: white;
    padding: 20px;
    flex: 1; /*Ocupar todo o espaço do lado do aside*/
    overflow-y: auto;
}

.central h2{
    color: #436342;
    margin-bottom: 20px;
}

.galeria{
    display: grid; /*Faz com que crie as divs uma ao lado do outro*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; /*Deixa um espaçamento entre os itens*/
}

.item{
    background-color: #ddd;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
}

.item img{
    height: 110px;
    width: 120px;
}

.item h3{
    margin: 0%;
}

.item button{
    background-color: #436342;
    border: none;
    width: 6vw;
    height: 4vh;
    border-radius: 20px;
    color: #f7edd9;
}

.item button:hover{
    cursor: pointer;
    background-color: #5d8c5b;
}

.filtros{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2vh;
}

.filtros span{
    margin-right: 1vw;
}

.item svg{
    height: 110px;
    width: 120px;
}

.btns_cuidados{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center; /*Alinha horizontalmente*/
    align-items: center; /*Alinha verticalmente*/
    margin-bottom: 2%;
}

.btns_cuidados button{
    width: 10%;
    height: 80%;
    margin-left: 3%;
    margin-right: 3%;
    border: none;
    border-radius: 3%;
    font-size: 17px;
}

.btns_cuidados button:hover{
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    /*
    0: deslocamento horizontal
    4px: deslocamento vertical
    12px: raio de desfoque
    rgba(0,0,0,0.3) : cor da sombra (com a transparência)
    */
}

.cuidados{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fundo_verde{
    background-color: #73B451;
}

.fundo_azul{
    background-color: #1E97D8;
    display: none;
}

.fundo_marrom{
    background-color: #5D3D1D;
    display: none;
}

.fundo_amarelo{
    background-color: #FFE204;
    display: none;
}

.btn_escolha_plantas{
    background-color: #73B451;
    color: white;
}

.btn_rega_adequada{
    background-color: #1E97D8;
    color: white;
}

.btn_solo_adubacao{
    background-color: #5D3D1D;
    color: white;
}

.btn_manutencao_poda{
    background-color: #FFE204;
}



.dicas{
    background-color: gray;
    width: 90%;
    height: 90%;
    padding: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fundo{
    flex-direction: column;
}

.dica{
    background-color: white;
    width: 90%;
    height: 30%;
}